body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link, .nav-item{
  margin-left: 25px;
  color: white;
  font-weight: bolder;
}

.navbar-brand{
  margin-left: 35px;
  font-weight: bolder;
}

.login{
  margin-left: 340px;
}

.searchbar{
  margin-top: 15px;
  margin-left: 20px;
  border-radius: 5px;
}

.searchBtn{
  background-color:#04AA6D;
  color: white;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 25px;
}